body{
	background-image:url(./img/0.jpg);
	margin: 0px;
	color: #fefefa;
}

ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
button:focus { outline: none; }
select:focus { outline: none; }
input:focus {outline: none;}
a{
	text-decoration: none;
	color: #87cefa;
}
input{
	color: #fefefa;
	background-color: #363636;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom-color: white;
	border-bottom-width: 1px;
}
img{
	image-rendering: -moz-crisp-edges;
}

.btn{
	color: white;
	text-decoration: none;
	border: none;
	background-color:#363636;
	border: none;
	outline:none;
}
.center{
	display: flex;
  	justify-content: center;
  	margin:110px 0px;

}


.navbar{
	background-color: #363636;
	height: 80px;
	width: 100%;
	opacity: 0.7;
	top:0;
	display: flex;
	justify-content: space-between;
}
.website-name{
	font-size: 60px;
	color: #fefefa;
	padding: 5px;

}
.nav-menu{
	position: relative;
	display: flex;
}
 .demo-nav-menu{
	position: relative;
}
.nav-btn{
	font-size: 20px;
	margin: 0px;
	height: 80px;
	/*background-color: #555555;*/
	padding: 15px;
}
.nav-btn:hover{
	background-color: #555555;
	outline: 1px solid #757575;
}
.dropdown-nav-menu{
	position: relative;
	display: none;
	z-index: 1;
}
.dropdown-btn{
	width: 50px;
}
.dropdown-content ul{
	width: 200px;
	height: 90px;
	position: absolute;
	left: -150px;
}
.dropdown-content .nav-btn{
	font-size: 20px;
	width: 100%;
	padding: 0%;
	height: 40px;
	padding: 10px;
	opacity: 1;
}



.login-signup{
	color: white;
	width: 400px;
	display: block;
	background-color: #363636;
	opacity: 0.8;
	border-radius: 15px; 
}
.close-btn{
	width: 30px;
	height: 30px;
	float: right;
	border-radius: 30px;
}
.login-signup-head{
	text-align: center;
	font-size: 30px;
	padding: 10px; 
}
input[class=log-sign]{
	width: 80%;
	align-self: center;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10%;
	margin-right: 10%; 
	padding: 5px; 
	height: 40px;
}
.forgot-password{
	width: 80%;
	margin: 0px;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 15px;

}
.login-signup-btn{
	width: 70%;
	text-align: center;
	padding: 10px;
	margin-top: 25px;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 20px;
	background-color: #555555;
	border-radius: 30px;
}
.login-signup-link{
	text-align: center;
	width: 80%;
	margin-right: 10%;
	margin-left: 10%; 
}





.content{
	overflow: hidden;
}
.bannar1{
	height:350px;
	background-color:white;
	display:  flex;
	flex-direction: column;
	justify-content: center;
}
.bannar1 .background{
	width: 400px;
	height: 400px;
	margin: auto;
}
.ban .arr{
	position: absolute;
	display:flex;
	justify-content: space-between;
	width: 100%;
}
.ban .arrow{
	position:relative;
	font-size: 50px;
	font-weight: bolder;
	color: black;
	cursor: pointer;
	height: fit-content;
}

.timer{
	width: 30%;
	height: fit-content;
	margin: auto;
}
.timer-head{
	display: flex;
	justify-content: center;
	font-size: 25px;
	padding: 5px;
}
.time{
	display: flex;
	justify-content: center;
	
}
.timer-class{
	display: flex;
	justify-content: center;
}
.timer-class div{
	padding: 7px;
	color: #363636;
}
.time-blk{
	display: block;
	font-size: 30px;
	color: black;
	background-color:red;
	padding: 5px;
	border-radius: 5px;
}
.timer b{
	font-size: xx-large;
	color: #363636;

}
.products{
	float: right;
	display: flex;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
	overflow: hidden;

}
.item{
	width: 300px;
	height: 400px;
	margin: 20px; 
	background-color: rgb(255,255,255,.5);
	color:black;
	font-family: cursive;
}
.item .item-image{
	text-align: center;
	width: 100%;
	height: 60%;
}
.item p{
	color: #fefefa;
	background-color: #757575;
	transform: translateY(-150%);
	margin: 0%;
	width: 30%;
}
.item .item-det div{
	padding: 10px;
	font-size: 20px;
}
.prod-more-btn{
	align-content:center;
	margin: auto;
	padding: 15px;
	width: 60%;
	background-color: #555555;
	border-radius: 10px;
	
}
.prod-img{
	padding: 0px;
	height: 100%;
	width: 100%;
}

.error{
	color: red;
	font-size: 13px;
}

.demo-form{
	width: 100%;
}
.demo-form form{
	width: 450px;
	margin: auto;
	justify-content: center;
}
.demo-form tr{
	font-size: larger; 
}
.demo-form input{
	background-color: rgb(0,0,0,0);
	width: 100%;
}
.demo-form .sub-head{
	font-size: x-large;
	text-decoration: underline;
}
.demo-form .btn{
	display: block;
	font-size: 20px;
	border-radius: 30px;
	padding: 15px;
}
.demo-form table {
	width: 100%;
    border-collapse: separate;
    border-spacing: 0 20px;
}
.demo-form input[type=radio]{
	margin:0px;
	padding:0px; 
	width: 15px;
	height: 15px;
}
textarea{
	font-size: larger;
	background-color: rgb(0,0,0,0);
	color: white;
}





.contact{
	width: 100%;
	background-color: #363636;
	opacity: 0.7;
}
.contact-head{
	font-size: 30px;
	text-align: center;
}
.contact-details{
	display: flex;
	text-align: center;
	flex-direction: column;
}
.contact .social-media{
	text-align: center;
	letter-spacing: 20px;
	display: flex;
	color: antiquewhite;
	opacity: 0.9;
	justify-content: center;
}
.contact i{
	font-size: 35px;
}


::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
@media screen and (max-width: 700px) {
.nav-menu{
	display: none;
}
.dropdown-nav-menu{
	display: block;
}
.dropdown-content{
	display: none;
}
.dropdown-nav-menu:hover .dropdown-content{
	display: block;
}
.side-navbar{
	display: none;
}
.products{
	width: 100%;
}
}
@media screen and (max-width: 450px){
	.demo-form form {
		width: 100%;
	}
	.timer{
		width: 100%;
		left: 0%;
		right: 0%;
	}
}
